{% extends "transportes/base.html" %}

{% block title %}Horários Urbano - Rota Montenegro{% endblock title %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-5">Horários Urbano</h1>

    {% for linha in linhas %}
    <div class="mb-5">
        <h2 class="mb-4 titulo-linha"> Linha {{ linha.nome }}</h2>

        <div class="row g-4">
            {% regroup linha.horarios.all|dictsort:"sentido" by sentido as grupos_sentido %}
            {% for grupo in grupos_sentido %}
            <div class="col-12 col-md-6">
                <h5 class="mb-3">Saídas: {{ grupo.grouper }}</h5>
                <div class="table-responsive">
                    <table class="table table-hover align-middle tabela-horarios">
                        <thead>
                            <tr>
                                <th>Horário</th>
                                <th>Via</th>
                                <th>Frequência</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for horario in grupo.list %}
                            <tr>
                                <td>{{ horario.hora_saida }}</td>
                                <td>{{ horario.via }}</td>
                                <td>{{ horario.get_frequencia_display }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
